<div id="inserir" class="container">
  <div class="row">
    <div class="col-12">
        <h4 class="titulo">{{ titulo }}</h4>
    </div>
    <div class="col-12 col-md-6 offset-md-2">
      <form (ngSubmit)="registrar(registerForm)" #registerForm="ngForm">
        <div class="form-group">
          <label for="name">Nome do Dragão:</label>
          <input class="form-control" type="text" name="name" ngModel required #name="ngModel">
          <span class="invalid-feedback" *ngIf="!name.valid && name.touched">Please enter a dragon name.</span>
        </div>
        <div class="form-group">
          <label for="dragonType">Tipo do Dragão:</label>
          <input type="text" class="form-control" name="dragonType" ngModel required #dragonType="ngModel">              
        </div>
        <a href="/listar" class="btn btn-primary botao">Voltar</a>
        <button type="submit" class="btn btn-primary botao" [disabled]="!registerForm.valid">Adiciona o Dragonildo</button>
      </form>
    </div>  
  </div>
</div>