<div id="editar" class="container">
  <div class="row">
    <div class="col-12">
      <div class="titulo-pagina">
        <h2>{{ titulo }}</h2>
      </div>
          <form *ngIf="dragaoSelecionado" (ngSubmit)="editaHandler(editForm)" #editForm="ngForm">
            <div class="form-group">
              <label for="name">Nome do Dragão: </label>
              <input class="form-control" type="text" name="name" ngModel [ngModel]="dragaoSelecionado.name" #name="ngModel">
            </div>
            <div class="form-group">
              <label for="type">Tipo de Dragão: </label>
              <input class="form-control" type="text" name="type" ngModel [ngModel]="dragaoSelecionado.type" #type="ngModel">
            </div>             
            <a [routerLink]="['/listar']" class="btn btn-primary botao">Voltar</a>
            <button class="btn btn-primary botao" type="submit" [disabled]="!editForm.valid || !editForm.dirty">Salvar Alterações</button>           
          </form>
        </div>            
    </div>  
</div>