<div id="editar" class="container">
  <div class="row">
    <div class="col-12">
      <div class="titulo-pagina">
        <h2>{{titulo}}</h2>
      </div>
      <div class="card" *ngFor='let dragao of dragoes$'>
        <ul class="nav">
          <li class="nav-item nome">
              <h4> {{ dragao.name }} </h4>
          </li>
          <li class="nav-item">
            <div class="iformacoes">
              <p><strong>id: </strong>{{ dragao.id }}</p>
              <p><strong>Tipo: </strong>{{ dragao.type }}</p>
              <p><strong>Criação: </strong>{{ dragao.createdAt }}</p>
              <p><strong>Histórias: </strong>{{ dragao.histories }}</p>
            </div>
          </li>
        </ul>       
    </div>
    </div>
  </div>
</div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
   <!-- <div *ngFor='let dragao of dragoes$'>
      <div class="card"> 
           style="width: 15rem;"
        <div class="card-body">
          <h4> {{ dragao.name }} </h4>
          <p class="card-text">{{ dragao.createdAt }}</p>
          <p class="card-text">{{ dragao.type }}</p>
        </div>
      </div>
    </div>  -->