<div id="login" class="container">
  <div class="row">
  <div class="col-4">
  <form [formGroup]="forma" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" name="name" id="nome" formControlName="nome">
    </div>
    <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha" formControlName="senha">
      </div>
    <input type="submit" class="btn btn-primary mt-4" value="Salvar">                 
  </form>
  </div>
</div>
</div>
