<div id="detalhes" class="container">
  <div class="row">  
    <div class="col-12 p-0 titulo">
      <h4>{{ titulo }}</h4>          
    </div>
  </div>
  <div class="row">  
    <div class="col-12 col-md-6 imagem">
        <img src="../../../../assets/dragao1.jpg" class="img-thumbnail">
    </div>
    <div class="col-12 col-md-6 dados-dragao">
      <div class="card">
        <div *ngIf="detalhesDoDragao">
          <div class="item mx-0 row">
            <label for="dragon-name" class="col-5 col-md-4 subtitulo">Nome: </label>
            <div class="col-7 col-md-8 col-lg-6 info">
              <span>{{ detalhesDoDragao.name }}</span>
            </div>
          </div>
          <div class="item mx-0 row">
            <label for="dragon-type" class="col-5 col-md-4 subtitulo">Tipo: </label>
            <div class="col-7 col-md-8 col-lg-6 info">
              <span>{{ detalhesDoDragao.type }}</span>
            </div>
          </div>
          <div class="item mx-0 row">
            <label for="creation-date" class="col-5 col-md-4 subtitulo">Data de Criação: </label>
            <div class="col-7 col-md-8 col-lg-6 info">
              <span>{{ detalhesDoDragao.createdAt | date }}</span>
            </div>
          </div>
          <div class="item mx-0 row">
            <label for="dragon-name" class="col-5 col-md-4 subtitulo">Histórias: </label>
            <div class="col-7 col-md-8 col-lg-6 info">
              <span>{{ detalhesDoDragao.histories }}</span>
            </div>
          </div>        
        </div>
        <div class="col-12">
          <div class="d-inline-block botoes-grupo">
              <a class="btn btn-primary" [routerLink]="['editar']"> Editar</a>
              <a class="btn btn-danger" (click)="deletar(detalhesDoDragao.id)"> Excluir</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>